select
  @apply py-2 pl-4
  @apply text-ps-white rounded-lg font-bold shadow
  @apply border-b-2 border-solid border-ps-green

  appearance: none
  background: url('../../../static/arrow-down.png') no-repeat
  background-position: 97% 55%
  background-size: 0.8em auto, 100%

  background-color: #202020