.dropdown
  @apply absolute w-40 bg-ps-secondary text-ps-white rounded-lg shadow

  .dropdown-content
    @apply p-2 text-base font-normal

  top: 25px

  &.dropdown-enter-active, &.dropdown-leave-active
    transition: all .25s ease-in-out

  &.dropdown-enter, &.dropdown-leave-to
    @apply opacity-100

    top: 15px
    opacity: 0

