.drop
  @apply ml-2 cursor-pointer

  transition: all .3s ease-in-out

  @screen md
    @apply px-3


  &.active-drop
    transform: rotate(180deg)

.notifications-number
  @apply absolute
  @apply w-4 h-4 rounded-full
  @apply bg-ps-primary text-ps-white text-xs
  @apply flex items-center justify-center
  @apply cursor-pointer

  top: -4px
  right: -2px
  
.navbar
  @apply h-20 w-full bg-ps-linear-gradient shadow flex items-center text-ps-primary
  @apply fixed z-999 px-3
  @apply select-none

  @screen md
    @apply w-1/2 h-32

    border-bottom-right-radius: 2rem
    padding: 0 1.35rem

  .menu-btn
    @apply relative flex justify-center items-center
    @apply w-24 h-24

    cursor: pointer

    .burger
      @apply w-24 absolute bg-ps-primary
      @apply border-solid border-2 border-ps-primary
      
      // transition: background 0.5s ease-in-out
      // transition: border 0s ease-in-out
      transition: all 0.1s ease-in-out
      // transition: background-color 0.1s ease-out

      height: 2px
      border-radius: 15px

      &::before, &::after
        @apply w-24 absolute bg-ps-primary
        @apply border-solid border-2 border-ps-primary

        content: ''
        right: -2px
        height: 2px
        border-radius: 15px

      &::before, &::after
        transition: all 0.3s ease-in-out

      &::before
        transform: translateY(-9px)

      &::after
        transform: translateY(6px)

    .burger.active
      @apply  bg-transparent border-none
      
      // transition: background 0.3s ease-in-out
      transition: all 0s ease-out

      &::before
        transform: rotate(45deg) translate(-1px, -1px)

      &::after
        transform: rotate(-45deg) translate(1px, -1px)

  .user
    @apply flex justify-between flex-grow items-center

    .user-wrap
      @apply flex items-center text-ps-primary

      .avatar-wrap
        @apply bg-ps-primary relative rounded-full
        @apply w-54 h-54 mr-2

        @screen md
          @apply h-72 w-72

        .avatar
          @apply absolute rounded-full
          @apply w-48 h-48 ps-center-absolute

          @screen md
            @apply h-66 w-66

      .user-info
        @screen md
          @apply pl-5

        .user-text
          @apply flex flex-col

        .user-name
          @apply text-sm font-extrabold text-base

          @screen md
            @apply text-xl

        .user-role
          @apply text-sm text-ps-white font-normal

          margin-top: -5px

        .microsoft-btn
          border-bottom: 1px solid black
