.btn
  @apply rounded-lg p-2 flex justify-center items-center bg-ps-linear-gradient

  &.btn-block
    @apply w-full

  &.btn-text
    background: transparent

  &.disabled    
    opacity: 0.7 


.spinner
  @apply animate-spin mx-auto h-24 w-24

  background-color: black
    -webkit-mask-image: url('/loader.svg')
  mask-image: url('/loader.svg')
  mask-size: contain
