.btn
  @apply rounded-lg p-2 flex justify-center items-center bg-ps-linear-gradient relative

  &.btn-block
    @apply w-full

  &.btn-text
    background: transparent

  &.disabled:not(.loading)
    filter: grayscale(75%)
  
  &.btn-error
    @apply bg-ps-red #{!important}
    @apply text-ps-white

    background: transparent

.spinner-wrap
  @apply w-full h-full absolute flex items-center justify-center bg-ps-linear-gradient rounded-lg
  
  filter: grayscale(0%) !important

  &.btn-error
    @apply bg-ps-red #{!important}
    @apply text-ps-white #{!important}

    background: transparent

  .spinner
    @apply animate-spin mx-auto h-24 w-24

    background-color: black
      -webkit-mask-image: url('/loader.svg')
    mask-image: url('/loader.svg')
    mask-size: contain

    &.btn-error
      background-color: white !important
