.btn
  @apply p-2 px-3 flex justify-center items-center bg-ps-linear-gradient relative

  border-radius: 50px

  &.btn-block
    @apply w-full

  &.btn-text
    @apply rounded-lg

    background: transparent

  &.disabled:not(.loading)
    filter: grayscale(75%)
  
  &.btn-error
    @apply bg-ps-red #{!important}
    @apply text-ps-white

    background: transparent

  &:not(.btn-text) > .spinner-wrap
    @apply bg-ps-linear-gradient
    
    background-color: white !important

.spinner-wrap
  @apply w-full h-full absolute flex items-center justify-center bg-ps-secondary
  
  border-radius: 50px
  filter: grayscale(0%) !important

  &.btn-error
    @apply bg-ps-red #{!important}
    @apply text-ps-white #{!important}

    background: transparent

  .spinner
    @apply animate-spin mx-auto h-24 w-24

    background-color: black
      -webkit-mask-image: url('/loader.svg')
    mask-image: url('/loader.svg')
    mask-size: contain

    &.btn-text
      background-color: white !important

    &.btn-error
      background-color: white !important
